<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-form-project.css">
    <title>Formulario proyecto</title>
</head>
<body>
    <header>
        <div class="container">
            <div th:insert="~{fragments/nav-admin :: nav-admin}"></div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="admin-actions">
                <button class="btn btn-logout" type="button" th:onclick="|window.location.href='@{/projects}'|">
                    Ver proyectos
                </button>
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn btn-logout">Cerrar sesión</button>
                </form>
            </div>
            <section id="contact">
                <h2>Formulario de proyecto</h2>
                <form class="contact-form" th:action="@{/projects/save}" th:object="${projectDto}" method="post" enctype="multipart/form-data">
                    <input type="text" id="title" th:field="*{title}" placeholder="Titulo">
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></div>

                    <textarea id="description" th:field="*{description}" rows="6" placeholder="Descripción"></textarea>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message"></div>

                    <input type="url" id="projectUrl" th:field="*{projectUrl}" placeholder="URL del proyecto">
                    <div th:if="${#fields.hasErrors('projectUrl')}" th:errors="*{projectUrl}" class="error-message"></div>

                    <label>Imagen del proyecto</label>
                    <input type="file" name="file" id="file">
                    <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="error-message"></div>

                    <input type="number" id="personalInfoId" th:field="*{personalInfoId}" placeholder="ID Información personal">
                    <div th:if="${#fields.hasErrors('personalInfoId')}" th:errors="*{personalInfoId}" class="error-message"></div>

                    <button type="submit">Guardar</button>
                </form>
            </section>
        </div>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>