<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV</title>
</head>
<body>
    <h1>Nuestro CV</h1>
<!--    <p th:text="'Hola, '+${name}">Texto</p>-->
<!--    <p th:if="${name.length < 3}" style="color:red">Error, el nombre tiene menos de 3 letras...</p>-->

<!--    <p th:text="${persona.firstName}">Texto</p>-->
<!--    <p th:text="${persona.lastName}">Texto</p>-->
<!--    <p th:text="${persona.profession}">Texto</p>-->

<p th:text="${property}"></p>
</body>
</html>