<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>CV</title>
</head>
<body>
    <h1>Nuestras Habilidades</h1>
    <p th:if="${skills.isEmpty()}">No hay datos</p>
    <ul th:if="${!skills.isEmpty()}">
        <li th:each="skill,stat : ${skills}">
           <span th:text="'Habilidad : '+${skill.name}+', nivel: '+${skill.level}"></span>
            <a th:href="@{'/skills/id/'+${stat.index}}">Ver detalle</a>
            Skill
        </li>
    </ul>
    <p th:if="${filterMessage}" th:text="${filterMessage}"></p>

    <form action="/skills" method="get">
        <label th:for="buscar">Buscar</label>
        <input type="text" th:value="${filter}" name="filter2">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>