@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primary-green:#ccfa8f;
    --color-secondary-blue:#0a2b96;
    --color-primary-yellow:#ccd049;
    --color-white:#ffffff;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    margin: 0;
}